{{> head }}

{{> navbar}}

<div class="row">

<div class="col-8">
    <h1>Desierto</h1>

    <p>Imagen de desierto bajada de las imágenes de muestra de la PC</p>
</div>

<div class="col-4">
    <img src="assets/img/Desert.jpg" class="img-thumbnail">

</div>

</div>

{{> footer }}